pip install -U imbalanced-learn

In [1]:
import pandas as pd
import numpy as np
import nltk
import string
from imblearn.under_sampling import RandomUnderSampler

In [2]:
pd.set_option('display.width', 10000)
pd.set_option('display.max_colwidth', 10000)

dataset = pd.read_csv("NepalTweetsDataSet.csv")

dataset_need = pd.read_csv("NepalNeedsDF.csv")
dataset_avail = pd.read_csv("NepalAvailsDF.csv")

x = dataset_need['Need_id'].values
y = dataset_avail['Avail_id'].values
z = dataset['Tweet_id'].values

nao = list()
for i in z:
    if i in x:
        nao.append("Need")
    elif i in y:
        nao.append("Avail")
    else:
        nao.append("Others")
dataset['Label'] = nao

dataset.head(10)

             Tweet_id                                                                                                                                        Tweets   Label
0  591974898139987968  RT @Economynext: #SriLanka to fly emergency medical help, food to #earthquake -struck #Nepal #lka #Economynext http://t.co/t6F2RXD4tj http:…   Avail
1  591979323164233729                          India committed in aid to Nepal: President Pranab Mukherjee: President Pranab Mukherjee… http://t.co/NeP9Pb9l0M SPS®  Others
2  591984387526234112                                         RT @Thekkapoor: @narendramodi List of Doctor and hospital . #earthquake #Nepal http://t.co/pRIPlyrobc   Avail
3  591984010714157056        Quake wake-up call for govt, need better building tech: Expert #Earthquake #Nepal #India http://t.co/85dhBJ2aES http://t.co/Q9m9eLs1ye  Others
4  591974595525128195       #NepalEarthquake India sends 39 #NDRF team, 2 dogs and 3 tonnes equipment to Nepal Army for rescue operations: Indian Embassy in #Nepal   Avail
5  591983032208232448                "@PMOIndia_RC: Indian Government is doing every possible help to the earthquake victims and they need money so plz contribute"  Others
6  591979178733408256    RT @ANI_news: We have to play a leading role to provide aid to Nepal: Shashidhar Reddy (Former Vice Chairman, NDMA) http://t.co/xnzi2gaRrQ  Others
7  591986773212856321  RT @UNFPAasia: As emergency services step up in post-quake Nepal, don't forget the urgent specialized services pregnant women need; @UNFPAN…  Others
8  591976562515316736     1L water bottle by railways\nLocal rates from BSNL to Nepal\n250 Indians to be rescued tonight\n3.5 tones of relief material\n#HatsOffGOI  Others
9  591977226586836992                                                RT @BJPLucknowBJP: Agra Medical College Building Damaged In #Earthquake http://t.co/IJvIIombVd  Others

# Removing the user-handles, hash symbols and hyperlinks

In [3]:
import re
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)
    return input_txt    

dataset['Tweets'] = dataset['Tweets'].apply(lambda x: remove_pattern(x, "@[\w]+"))
dataset['Tweets'] = dataset['Tweets'].apply(lambda x: remove_pattern(x, "RT"))
dataset['Tweets'] = dataset['Tweets'].apply(lambda x: remove_pattern(x, "#"))

dataset['Tweets']=dataset['Tweets'].replace(to_replace = r'https?:\/\/.*[\r\n]*', value= '', regex=True)

dataset.head(10)

             Tweet_id                                                                                                                                    Tweets   Label
0  591974898139987968                                               : SriLanka to fly emergency medical help, food to earthquake -struck Nepal lka Economynext    Avail
1  591979323164233729                                                 India committed in aid to Nepal: President Pranab Mukherjee: President Pranab Mukherjee…   Others
2  591984387526234112                                                                                        :  List of Doctor and hospital . earthquake Nepal    Avail
3  591984010714157056                                                    Quake wake-up call for govt, need better building tech: Expert Earthquake Nepal India   Others
4  591974595525128195      NepalEarthquake India sends 39 NDRF team, 2 dogs and 3 tonnes equipment to Nepal Army for rescue operations: Indian Embassy in Nepal   Avail
5  591983032208232448                        ": Indian Government is doing every possible help to the earthquake victims and they need money so plz contribute"  Others
6  591979178733408256                                  : We have to play a leading role to provide aid to Nepal: Shashidhar Reddy (Former Vice Chairman, NDMA)   Others
7  591986773212856321                  : As emergency services step up in post-quake Nepal, don't forget the urgent specialized services pregnant women need; …  Others
8  591976562515316736  1L water bottle by railways\nLocal rates from BSNL to Nepal\n250 Indians to be rescued tonight\n3.5 tones of relief material\nHatsOffGOI  Others
9  591977226586836992                                                                                    : Agra Medical College Building Damaged In Earthquake   Others

# Removing the unicode elements from the tweets

In [4]:
def remove_non_ascii(text): 
    return "".join(i for i in text if ord(i)<128) 
 
dataset['Tweets'] = dataset['Tweets'].apply(remove_non_ascii)

dataset.head(10)

             Tweet_id                                                                                                                                    Tweets   Label
0  591974898139987968                                               : SriLanka to fly emergency medical help, food to earthquake -struck Nepal lka Economynext    Avail
1  591979323164233729                                                  India committed in aid to Nepal: President Pranab Mukherjee: President Pranab Mukherjee   Others
2  591984387526234112                                                                                        :  List of Doctor and hospital . earthquake Nepal    Avail
3  591984010714157056                                                    Quake wake-up call for govt, need better building tech: Expert Earthquake Nepal India   Others
4  591974595525128195      NepalEarthquake India sends 39 NDRF team, 2 dogs and 3 tonnes equipment to Nepal Army for rescue operations: Indian Embassy in Nepal   Avail
5  591983032208232448                        ": Indian Government is doing every possible help to the earthquake victims and they need money so plz contribute"  Others
6  591979178733408256                                  : We have to play a leading role to provide aid to Nepal: Shashidhar Reddy (Former Vice Chairman, NDMA)   Others
7  591986773212856321                   : As emergency services step up in post-quake Nepal, don't forget the urgent specialized services pregnant women need;   Others
8  591976562515316736  1L water bottle by railways\nLocal rates from BSNL to Nepal\n250 Indians to be rescued tonight\n3.5 tones of relief material\nHatsOffGOI  Others
9  591977226586836992                                                                                    : Agra Medical College Building Damaged In Earthquake   Others

# Tokenization

In [5]:
tokenizer = nltk.tokenize.TweetTokenizer(preserve_case=False, strip_handles=True, reduce_len=True)

def tokenize_text(text):
    tokens = tokenizer.tokenize(text)
    return tokens

dataset['Tweets'] = dataset['Tweets'].apply(lambda x: tokenize_text(x.lower()))
dataset.head(10)

             Tweet_id                                                                                                                                                           Tweets   Label
0  591974898139987968                                                    [:, srilanka, to, fly, emergency, medical, help, ,, food, to, earthquake, -, struck, nepal, lka, economynext]   Avail
1  591979323164233729                                                         [india, committed, in, aid, to, nepal, :, president, pranab, mukherjee, :, president, pranab, mukherjee]  Others
2  591984387526234112                                                                                                       [:, list, of, doctor, and, hospital, ., earthquake, nepal]   Avail
3  591984010714157056                                                          [quake, wake-up, call, for, govt, ,, need, better, building, tech, :, expert, earthquake, nepal, india]  Others
4  591974595525128195  [nepalearthquake, india, sends, 39, ndrf, team, ,, 2, dogs, and, 3, tonnes, equipment, to, nepal, army, for, rescue, operations, :, indian, embassy, in, nepal]   Avail
5  591983032208232448                       [", :, indian, government, is, doing, every, possible, help, to, the, earthquake, victims, and, they, need, money, so, plz, contribute, "]  Others
6  591979178733408256                              [:, we, have, to, play, a, leading, role, to, provide, aid, to, nepal, :, shashidhar, reddy, (, former, vice, chairman, ,, ndma, )]  Others
7  591986773212856321                    [:, as, emergency, services, step, up, in, post-quake, nepal, ,, don't, forget, the, urgent, specialized, services, pregnant, women, need, ;]  Others
8  591976562515316736     [1l, water, bottle, by, railways, local, rates, from, bsnl, to, nepal, 250, indians, to, be, rescued, tonight, 3.5, tones, of, relief, material, hatsoffgoi]  Others
9  591977226586836992                                                                                                   [:, agra, medical, college, building, damaged, in, earthquake]  Others

# Removing stopwords and punctuations

In [6]:
nltk.download('stopwords')
stopword = nltk.corpus.stopwords.words('english')

def clean_text(tweet_tokens):
    tweets_clean = []
    for word in tweet_tokens:
        if (word not in stopword and word not in string.punctuation):
            tweets_clean.append(word)
    return tweets_clean

dataset['Tweets'] = dataset['Tweets'].apply(lambda x: clean_text(x))
dataset.head(10)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Aishwarya\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

             Tweet_id                                                                                                                                   Tweets   Label
0  591974898139987968                                             [srilanka, fly, emergency, medical, help, food, earthquake, struck, nepal, lka, economynext]   Avail
1  591979323164233729                                               [india, committed, aid, nepal, president, pranab, mukherjee, president, pranab, mukherjee]  Others
2  591984387526234112                                                                                              [list, doctor, hospital, earthquake, nepal]   Avail
3  591984010714157056                                             [quake, wake-up, call, govt, need, better, building, tech, expert, earthquake, nepal, india]  Others
4  591974595525128195  [nepalearthquake, india, sends, 39, ndrf, team, 2, dogs, 3, tonnes, equipment, nepal, army, rescue, operations, indian, embassy, nepal]   Avail
5  591983032208232448                                           [indian, government, every, possible, help, earthquake, victims, need, money, plz, contribute]  Others
6  591979178733408256                                              [play, leading, role, provide, aid, nepal, shashidhar, reddy, former, vice, chairman, ndma]  Others
7  591986773212856321                             [emergency, services, step, post-quake, nepal, forget, urgent, specialized, services, pregnant, women, need]  Others
8  591976562515316736       [1l, water, bottle, railways, local, rates, bsnl, nepal, 250, indians, rescued, tonight, 3.5, tones, relief, material, hatsoffgoi]  Others
9  591977226586836992                                                                                  [agra, medical, college, building, damaged, earthquake]  Others

# Stemming / Lemmatization

In [7]:
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
wn = WordNetLemmatizer()
#ps = nltk.PorterStemmer()

def stemming(tokenized_text):
    text = [wn.lemmatize(word) for word in tokenized_text]
    return text

dataset['Tweets'] = dataset['Tweets'].apply(lambda x: stemming(x))
dataset.head(10)

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Aishwarya\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

             Tweet_id                                                                                                                                Tweets   Label
0  591974898139987968                                          [srilanka, fly, emergency, medical, help, food, earthquake, struck, nepal, lka, economynext]   Avail
1  591979323164233729                                            [india, committed, aid, nepal, president, pranab, mukherjee, president, pranab, mukherjee]  Others
2  591984387526234112                                                                                           [list, doctor, hospital, earthquake, nepal]   Avail
3  591984010714157056                                          [quake, wake-up, call, govt, need, better, building, tech, expert, earthquake, nepal, india]  Others
4  591974595525128195  [nepalearthquake, india, sends, 39, ndrf, team, 2, dog, 3, tonne, equipment, nepal, army, rescue, operation, indian, embassy, nepal]   Avail
5  591983032208232448                                         [indian, government, every, possible, help, earthquake, victim, need, money, plz, contribute]  Others
6  591979178733408256                                           [play, leading, role, provide, aid, nepal, shashidhar, reddy, former, vice, chairman, ndma]  Others
7  591986773212856321                            [emergency, service, step, post-quake, nepal, forget, urgent, specialized, service, pregnant, woman, need]  Others
8  591976562515316736        [1l, water, bottle, railway, local, rate, bsnl, nepal, 250, indian, rescued, tonight, 3.5, tone, relief, material, hatsoffgoi]  Others
9  591977226586836992                                                                               [agra, medical, college, building, damaged, earthquake]  Others

In [8]:
dataset['Tweets'] = [' '.join(map(str, l)) for l in dataset['Tweets']]
dataset.head()

             Tweet_id                                                                                                             Tweets   Label
0  591974898139987968                                   srilanka fly emergency medical help food earthquake struck nepal lka economynext   Avail
1  591979323164233729                                    india committed aid nepal president pranab mukherjee president pranab mukherjee  Others
2  591984387526234112                                                                              list doctor hospital earthquake nepal   Avail
3  591984010714157056                                    quake wake-up call govt need better building tech expert earthquake nepal india  Others
4  591974595525128195  nepalearthquake india sends 39 ndrf team 2 dog 3 tonne equipment nepal army rescue operation indian embassy nepal   Avail

# TF-IDF Vectorization

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(min_df = 50, max_df = 1000)
vectors = vectorizer.fit_transform(dataset['Tweets'])
print(vectors)
print(vectors.shape)

  (0, 1094)	0.42134286232111834
  (0, 428)	0.36451500184870916
  (0, 690)	0.4243129687487932
  (0, 366)	0.4316203836862409
  (0, 424)	0.5685607748837503
  (1, 868)	1.0
  (2, 535)	0.5167203417137275
  (2, 334)	0.5703586628312287
  (2, 644)	0.6385069178894004
  (3, 388)	0.34297946502666105
  (3, 1127)	0.3830760903365847
  (3, 192)	0.2889062048274658
  (3, 159)	0.383965965555372
  (3, 476)	0.30276129541603497
  (3, 200)	0.3080994537976795
  (3, 1204)	0.42959272615359534
  (3, 1235)	0.3654881008915086
  (4, 365)	0.38078421350631975
  (4, 792)	0.29539443552385375
  (4, 116)	0.31112757924785195
  (4, 373)	0.4117624130056904
  (4, 335)	0.4117624130056904
  (4, 1125)	0.26885835766779237
  (4, 750)	0.36551255853291725
  (4, 1007)	0.3549145293949653
  :	:
  (50010, 714)	0.5261739383495142
  (50011, 432)	0.7409074505616797
  (50011, 943)	0.6716071394068052
  (50013, 1034)	0.7835163814981727
  (50013, 570)	0.6213711289752765
  (50015, 574)	0.331542044218
  (50015, 9)	0.4217818147780822
  (50015, 310)	0.37476997032581416
  (50015, 78)	0.3225730519556773
  (50015, 371)	0.3287448348067636
  (50015, 10)	0.3357208620804306
  (50015, 580)	0.37144481032012355
  (50015, 918)	0.3300320565798708
  (50016, 9)	0.40264311412346937
  (50016, 310)	0.35776447121443666
  (50016, 78)	0.3079360314291456
  (50016, 994)	0.38816935753061216
  (50016, 1)	0.37074102657484087
  (50016, 371)	0.3138277645001001
  (50016, 10)	0.3204872487340455
  (50016, 580)	0.35459019310964324
  (50017, 815)	0.5808330915419859
  (50017, 314)	0.5007954399972653
  (50017, 538)	0.45324140081748615
  (50017, 761)	0.45432266026770823
(50018, 1288)

# Training Set

In [10]:
x_train = vectors.toarray()
y_train = dataset.iloc[:, -1].values

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y_train = le.fit_transform(y_train)
print(y_train)

[0 2 0 ... 2 2 2]

# Undersampling

In [13]:
from collections import Counter
print(Counter(y_train))
undersample = RandomUnderSampler(sampling_strategy='majority')
x_train, y_train = undersample.fit_resample(x_train, y_train)
print(Counter(y_train))

Counter({2: 48201, 0: 1322, 1: 495})
Counter({0: 1322, 1: 495, 2: 495})

# Training the NB Model on training set

In [14]:
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB()
classifier.fit(x_train, y_train)

MultinomialNB()

# Test Set

In [15]:
datasetI = pd.read_csv("ItalyTweetsDataSet.csv")

datasetI_need = pd.read_csv("ItalyNeedsDF.csv")
datasetI_avail = pd.read_csv("ItalyAvailsDF.csv")

xI = datasetI_need['Need_id'].values
yI = datasetI_avail['Avail_id'].values
zI = datasetI['Tweet_id'].values

naoI = list()
for i in zI:
    if i in xI:
        naoI.append("Need")
    elif i in yI:
        naoI.append("Avail")
    else:
        naoI.append("Others")
datasetI['Label'] = naoI

datasetI['Tweets'] = datasetI['Tweets'].apply(lambda x: remove_pattern(x, "@[\w]+"))
datasetI['Tweets'] = datasetI['Tweets'].apply(lambda x: remove_pattern(x, "RT"))
datasetI['Tweets'] = datasetI['Tweets'].apply(lambda x: remove_pattern(x, "#"))

datasetI['Tweets']=datasetI['Tweets'].replace(to_replace = r'https?:\/\/.*[\r\n]*', value= '', regex=True)

datasetI['Tweets'] = datasetI['Tweets'].apply(remove_non_ascii)
datasetI['Tweets'] = datasetI['Tweets'].apply(lambda x: tokenize_text(x.lower()))
datasetI['Tweets'] = datasetI['Tweets'].apply(lambda x: clean_text(x))
datasetI['Tweets'] = datasetI['Tweets'].apply(lambda x: stemming(x))
datasetI['Tweets'] = [' '.join(map(str, l)) for l in datasetI['Tweets']]

In [16]:
vectorsI = vectorizer.transform(datasetI['Tweets'])
print(vectorsI)
print(vectorsI.shape)

  (0, 1144)	0.6233051582340988
  (0, 447)	0.6509847706687465
  (0, 350)	0.4332545534395738
  (2, 490)	0.7786208676221326
  (2, 350)	0.6274946569520394
  (4, 1121)	0.3026637046717858
  (4, 974)	0.285746293597471
  (4, 857)	0.33244747832189137
  (4, 799)	0.30954184142864366
  (4, 661)	0.2849600253559381
  (4, 603)	0.23882443056597763
  (4, 468)	0.2677207676698756
  (4, 465)	0.2211970602688123
  (4, 423)	0.29747270909131557
  (4, 418)	0.34701115295887125
  (4, 342)	0.2949653321682172
  (4, 141)	0.25622858236275503
  (5, 1146)	0.37777343027155275
  (5, 660)	0.40429733121266065
  (5, 603)	0.3289525420051574
  (5, 498)	0.47379876296264906
  (5, 496)	0.39440684004947146
  (5, 492)	0.4534083206126501
  (7, 1250)	0.6429696634556431
  (7, 787)	0.7658916449966908
  :	:
  (70481, 1151)	0.35414971562030295
  (70481, 1078)	0.40165603956019413
  (70481, 630)	0.3928770682300489
  (70481, 366)	0.3621967589660426
  (70481, 301)	0.32932354605519937
  (70481, 224)	0.4555534772805199
  (70481, 31)	0.33425821338538586
  (70482, 533)	0.6713368636668615
  (70482, 366)	0.74115235645712
  (70483, 302)	0.7002643948766161
  (70483, 263)	0.7138835880366537
  (70484, 787)	0.5166744360616083
  (70484, 471)	0.3845260390062897
  (70484, 444)	0.4038078226346575
  (70484, 352)	0.4322414787308613
  (70484, 142)	0.4850709215054722
  (70485, 953)	0.5535042443278072
  (70485, 927)	0.5351635568692407
  (70485, 414)	0.6381481167488989
  (70486, 1287)	0.39999908805574386
  (70486, 1078)	0.4069289255840391
  (70486, 563)	0.4542986089733985
  (70486, 531)	0.3279372593027586
  (70486, 366)	0.3669516289048221
  (70486, 103)	0.4752115412819025
(70487, 1288)

In [17]:
x_test = vectorsI.toarray()
y_test = datasetI.iloc[:, -1].values

In [19]:
y_test = le.fit_transform(y_test)
print(y_test)
datasetI['true_vals'] = y_test

[2 2 2 ... 2 2 2]

In [20]:
undersample2 = RandomUnderSampler(sampling_strategy='majority')
x_test, y_test = undersample2.fit_resample(x_test, y_test)
print(Counter(y_test))

Counter({0: 230, 1: 177, 2: 177})

# Predicting the results and evaluating them

In [21]:
y_pred = classifier.predict(x_test)
print(y_pred)

[0 1 0 2 0 0 0 0 0 0 1 2 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 1 0 0 0 0 0 1
 0 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 2 1 0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 0 2 0 0
 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 2 0 0 0 2 0 0 1 2 2 0 2 0 0 2 0 0 0 0 0 0
 0 2 0 2 0 2 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 2 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 2 2 1 1 1 0 1 0 1 1 1 1 0 1 0 0 0 1 0 1 0 0 1 0 1 1 2 0 1
 0 1 1 0 0 1 1 0 1 1 1 0 0 1 1 2 0 0 2 0 1 0 2 0 0 0 0 0 0 0 0 0 1 0 0 0 0
 0 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 0 2 0 0 0 2 0 0 1 0 0 0 0 0
 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0 1 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 2 0 0 0
 0 1 0 2 0 2 0 0 2 0 0 0 2 0 0 0 1 2 0 0 0 0 0 1 0 1 2 0 1 2 0 0 1 0 2 1 0
 2 0 2 1 2 0 0 1 2 2 2 2 2 0 0 2 0 0 2 2 2 2 2 0 2 0 0 0 2 2 0 0 0 0 2 0 0
 2 2 0 0 1 2 0 0 0 2 2 2 2 2 2 0 2 2 0 0 2 0 2 0 1 0 2 2 2 1 2 0 2 0 0 2 0
 0 2 0 0 1 2 2 2 1 2 2 2 0 1 2 2 2 2 0 2 1 1 1 0 2 2 0 2 2 0 2 2 0 0 0 0 2
 2 0 0 0 0 0 0 2 1 1 2 0 2 2 0 0 2 2 2 2 2 2 2 2 2 2 0 0 2 2 0 2 2 2 2 2 2
 2 2 2 2 0 2 2 0 1 1 0 0 0 0 2 1 2 0 2 0 2 0 0 0 0 2 0 1 0]

In [22]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
print(classification_report(y_test, y_pred))
print(accuracy_score(y_test, y_pred))

[[197  12  21]
 [115  44  18]
 [ 70  17  90]]
              precision    recall  f1-score   support

           0       0.52      0.86      0.64       230
           1       0.60      0.25      0.35       177
           2       0.70      0.51      0.59       177

    accuracy                           0.57       584
   macro avg       0.61      0.54      0.53       584
weighted avg       0.60      0.57      0.54       584

0.5667808219178082

# Confidence scores

In [23]:
class_probabilities = classifier.predict_proba(x_test)
print(class_probabilities)

[[0.45604869 0.31722236 0.22672895]
 [0.20251262 0.76032595 0.03716144]
 [0.62196682 0.22563195 0.15240123]
 ...
 [0.88669302 0.05874549 0.05456149]
 [0.25501175 0.41836345 0.3266248 ]
 [0.57179931 0.21410035 0.21410035]]

In [24]:
elements_count = dict()
for element in y_test:
    if element in elements_count:
        elements_count[element] += 1
    else:
        elements_count[element] = 1
for key, value in elements_count.items():
    print(f"{key}: {value}")

0: 230
1: 177
2: 177

In [25]:
elements_count = dict()
for element in y_pred:
    if element in elements_count:
        elements_count[element] += 1
    else:
        elements_count[element] = 1
for key, value in elements_count.items():
    print(f"{key}: {value}")

0: 382
1: 73
2: 129

In [26]:
All_DF = pd.DataFrame(
    {'True Value' : y_test,
     'Predicted Value' : y_pred,
    }
)
All_DF.head()

   True Value  Predicted Value
0           0                0
1           0                1
2           0                0
3           0                2
4           0                0

In [27]:
All_DF['Confidence Score'] = [None] * len(All_DF)

for i in range(len(class_probabilities)):
  if All_DF['Predicted Value'][i] == 0:
    All_DF['Confidence Score'][i] = class_probabilities[i][0]
  elif All_DF['Predicted Value'][i] == 1:
    All_DF['Confidence Score'][i] = class_probabilities[i][1]
  else:
    All_DF['Confidence Score'][i] = class_probabilities[i][2]

All_DF.head()

<ipython-input-27-6bdf3e339be9>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  All_DF['Confidence Score'][i] = class_probabilities[i][0]
<ipython-input-27-6bdf3e339be9>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  All_DF['Confidence Score'][i] = class_probabilities[i][1]
<ipython-input-27-6bdf3e339be9>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  All_DF['Confidence Score'][i] = class_probabilities[i][2]

   True Value  Predicted Value Confidence Score
0           0                0         0.456049
1           0                1         0.760326
2           0                0         0.621967
3           0                2         0.440835
4           0                0         0.479695

In [28]:
PredAvailsDF = All_DF.loc[All_DF['Predicted Value'] == 0]
PredNeedsDF = All_DF.loc[All_DF['Predicted Value'] == 1]
PredOthersDF = All_DF.loc[All_DF['Predicted Value'] == 2]

In [29]:
PredAvailsDF = PredAvailsDF.sort_values(by = 'Confidence Score', ascending = False)
PredNeedsDF = PredNeedsDF.sort_values(by = 'Confidence Score', ascending = False)
PredOthersDF = PredOthersDF.sort_values(by = 'Confidence Score', ascending = False)

In [30]:
PredAvailsDF.to_csv('Nepal to Italy Rank Avails.csv', index = False)
PredNeedsDF.to_csv('Nepal to Italy Rank Needs.csv', index = False)
PredOthersDF.to_csv('Nepal to Italy Rank Others.csv', index = False)